.header {
  display: grid;
  /* justify-content: space-between;
    align-items: flex-start; */
  justify-items: start;
  width: 100%;
  padding: 7px;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 50px;
  grid-column: 2;
  justify-self: center;
  color: #ffffff;
}

.emptyDiv {
  width: 100px;
  display: flex;
  align-items: center;
}

.buttonDiv {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-self: end;
}

.connectButton {
  margin-bottom: 40px; /* Add some space below the ConnectButton */
}

.buttonWrapper {
  margin-right: 19px; /* Add some space to the right of the Button */
}
